
body {
    background-color: #f3f0f5; 
    margin-bottom: 60px;
  }

    h1 {
      color: #601f9c; 
      text-align: center;
    }

    h2 {
      color: #601f9c;
      font-size: 20px;
    }

     h3 {
    text-align: center;
    display: block; 
    font-size: 10px
  }

img {
  /* margin: 2px;
  padding: 2px; */
  height: 100%;
  width: 100%;
}




  .headimg{
    height: 100%;
    width: 100%;
    text-align: below;
    }
   

   
   /* .TextWrap {
    float: right;
    margin: 10%;
   }
   */

    .container {
      padding-right: 2px;
      padding-left: 2px;
      margin-right: auto;
      margin-left: auto;
      
    }   
    
    @media (max-width: 767px) {
      .custom-container {
      
      width: 500px;
      margin: 0 auto;
      
    }
      }
    @media (min-width: 768px) and (max-width: 991px) {
      .custom-container {
      
      width: 650px;
      margin: 0 auto;
      
    }
      }

    li {
      padding: 0; 
      margin-bottom: 0;
      line-height: .1rem;
      font-size: 12px;
      
    }

      .divboarder {
        border: 1px solid; 
        color: lightgrey; 
      }

    p {
      color: black;
    }
    
    #ph {
      font-weight: bold;
    }

.navbar-brand {
  /* background-color: teal;  */
  color: white;
}
  .navbar {background-color: white;}
  
  /* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: right;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
  text-align: right;
}



.footer {
  height: 50px;
  background-color:lightgray;
  width: 100%;
  position: fixed;
  left: 0; bottom: 0;
  padding: 5px;
  text-align: center;
  border-top: 2px solid  #601f9c; 
  color:  #601f9c;
}

/* label */







.fa-1x {
  font-size: 1.5rem;
  }
  .navbar-toggler.toggler-example {
  cursor: pointer;
  }
  .dark-blue-text {
  color: #0A38F5;
  }
  .dark-pink-text {
  color: #AC003A;
  }
  .dark-amber-text {
  color: #ff6f00;
  }
  .dark-teal-text {
  color: #004d40;
  
  }

  label {
    font-weight: bold;
    font-size: 16px;
  }
  
  #submit_button {
    background-color: #B22222;
    height: 30px;
    width: 20%;
    color: #FFFFFF;
    font-weight: bold;
  }
  
  input, textarea {
    background-color: #D3D3D3;
    color: #2F4F4F;
    width: 250px;
    margin-bottom: 10px;
    box-shadow: 5px 5px 2px 2px #696969;
  }

figure {
    float:left;
    width: 30%;
    text-align: left;
    font-style: italic;
    font-size: smaller;
    text-indent: 0;
    border: thin silver solid;
    margin: 0.5em;
    padding: 0.5em;
    line-height: .9rem;
  }

 